/*VERTICAL COLORS*/
body {
 background-color: #FFFFFF;
 color: #000000;
 padding: 0;
 margin: 0 0 0 0;
 font: 1.em Avenir Next;
 line-height: 3em;
}





/*TITLE BAGROUND*/
.header {
	background: #FFFFFF;
	color: #000000;
	width: 800px;
	height: 50px;
	margin: 20px;

}

/*BELLA MAY LEONARD COLOR*/
.header .title {
    padding: 10px 0 0px 0px;
    text-align:center;
	color: #000000;
	font: 2.5em Avenir Next;
}


/*AFFILIATION COLOR*/
.header .slogan {
    padding: 100px 0 0px 0px;
        text-align:center;
	color: #000000;
	font: 0.4em Avenir Next;
}




/*NAVIGATOR BAR*/
#nav {
        width: 850px;
	background: #FFFFFF;
	height: 0px;
	text-align:center;

}


/*LINE ABOVE NAVIGATOR BAR*/
#nav ul {
	  position: relative;
	  display:center ;
	  text-align:center;
	  list-style:none;
	      	  padding: 10px;
	margin:  0px 0px 0px 40px;
	  
	}

/*TITLES IN NAVIGATOR BAR*/
#nav a {

    display:table;
    color:#000000;
     	padding: 20px;
	margin: 10px 0px 0px 0px;
    text-decoration:none;
    font-weight:none;
font: 1.3em Avenir Next;}





#nav #current a {
  display:table;
    background: #FFFFFF;
    color:#FF0040; }







#nav li {
    float:left;
    color: #FFFFFF;
    }



/*SUB HEADINGS IN NAVIGATOR BAR*/
#nav ul ul{
    width:00px;
 padding: 00px 0px 0px 0px;
  -webkit-padding-after:10px;
    position:absolute;
    display:table;
    visibility: hidden;

    }

/*Important for the ONE colone layout*/
#nav ul ul a { 
    width:300px;
    padding:0px -10px 0px 0px;
    text-align:center;

}

/*Important for the ONE colone layout, color filled*/
#nav ul ul li { 
    width:350px;

}




.col1 {
    float: left;
    width:33%;
}
.col2 {
    float: left;
    width:33%;}
.col3 {
    float: right;
    width:33%;}

/*************************************/


#nav ul li ul {
  opacity: 0;
  visibility:hidden;
  
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0.1s;
    
    -moz-transition-duration: 0.1s;
    -moz-transition-delay: 0.1s;
    /* Standard syntax */
    transition-duration: 0.1s;
    transition-delay: 0.1s;

}



#nav ul li:hover ul {
    margin: 13.5px 0px 0px 0px;
  opacity: 1;
  visibility: visible;
  height: inherit;
  background:#FFFFFF;
}





#nav a:hover {
    color:#FA58AC;
}

#nav ul li:hover a{
    color:#FA58AC;
}

#nav ul li:hover ul li a{
    color:#00BFFF;
}

#nav ul li:hover ul:hover li:hover a{
    color:#FF0040;
}

/*current tab*/


#nav #current ul:hover li:hover ul li a{
    color:#00BFFF;
}

#nav #current ul li:hover a{
    color:#00BFFF;
}

#nav #current ul a{
    color:#00BFFF;
}







/*TITLES IN THE BODY*/
h2 {
    font: 1.6em Avenir Next;
    text-align:center;
    color: #00BFFF;
    letter-spacing: 1px; 
    padding: 80px 0px 0px 170px;}


/*FONT FOR SLOGAN*/
h3 { font: 1em Avenir Next;
     text-align:center;
     line-height: 1.5em; 
     }




/*FONT FOR Commandline*/
hc { font-family: Avenir Next;
     background: #FFFFFF;
   }

.code { 
     text-align: center;
background: #FFFFFF;
    font-family: Avenir Next;
	color: #FFFFFF;
}


/*FONT FOR HYPERLINKS*/
a {     font: 0.9em Avenir Next;
	color: #6E6E6E; 
	background: inherit; 
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
 }



/*FONT FOR TEXT BODY*/
h1w { font: 1em Avenir Next;
     color: #848484;
     text-align: center;
   }

h1 { font: 1em Avenir Next;
     color: #303030;
     text-align: center;
   }







h4 {
    font: 1em Avenir Next;
   color: #FF3366;}


hst {
    font: 1em Avenir Next;
   color: #FF3366;}



/*SPACE*/
ml { margin-left: 40px;
   }

/*class for contact*/
.text_padding_contact {
    
    background-color: #FFF;
    float: center;
    color: #000;
    padding:0 150px 10px 150px;
    
}


.content { 
    background: #FFF; 
	margin: 0 auto;
	padding: 0px;
	width: 900px;
	color: #000;
}




.main_content {
	background: #FFFFFF ;
	background-color: #FFFFFF;
	width: 950px;
	margin:0px;
	padding:0px;

}





.sd_left {

    background-color: #FFFFFF;
    float: center;
	color: #000;
	width: 640px;
	height:510px;
	padding: 0 15px 0px 15px; 
	
}	

.sd_right {

    background-color: #FFFFFF;
    float: right;
	color: #000;
	width: 200px;
		height:510px;
	border-left: 0.5px dashed #303030;
	padding:0 0 0 15px;
}	


.text_padding {
    
    background-color: #FFFFFF;
    float: center;
    color: #000000;
    padding:0 15px 0px 15px;
    
}




.date { 
    text-align: right;
    Color: #B0B0B0;
	border-top: 1px solid #303030;
}
